:root {
    --primary-color: rgba(8, 166, 228, 1);
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: rgba(251, 59, 100, 1);
    --color-redish-1: rgba(235, 71, 110, 1);
    --color-light-pink: rgba(249, 4, 54, 0.16);
    --color-light-pink-2: rgba(255, 9, 17, 0.16);
    --color-green: rgba(85, 223, 180, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-light-black:rgba(19, 37, 59, 1);
    --color-grey-1: rgba(165, 165, 165, 1);
    --color-grey-2: rgba(149, 152, 154, 1);
    --color-grey-3: rgba(112, 112, 112, 1);
    --color-grey-4: rgba(232, 233, 237, 1);
    --color-light-grey: rgba(247, 247, 247, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-blue: rgba(7, 172, 230, 1);
    --button-radius: 35px; 
    --font-raleway: Raleway, Light;
}

html, body {
    font-size: 16px;
}


.btn {
  color: white;
  background-color: var(--primary-color);
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: var(--button-radius);
  border: none;
  box-shadow: 3px 10px 14px var(--color-primary-shadow);
}


.intro {
}

.header {
  background-color: var(--color-white);
  box-shadow: 0 .1875rem .375rem #00000029;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-left: 8.5rem;
  padding-right: 8.5rem;
}
.header .header__inner {
  max-width: 84.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 .header .header__logo {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--font-Raleway);
  font-weight: 300;
}


.header .header__logo {
      color: var(--primary-color);
      text-decoration: none;
      font-size: 2rem;
      font-family: var(--font-raleway);
      font-weight: 300;
}

.logo {
    display: flex;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2.1875rem;
    font-weight: 400;
    margin-right: .3125rem;
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
}

.logo .logo__text {
  color: var(--primary-color);
  font-size: 2.1875rem;
  font-weight: 800;
  margin-right: .3125rem;
}
.menu {
    display: flex;
    height: 100%;
}

.menu .menu__item {
    color: var(--color-grey-1);
    font-size: .6875rem;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin-right: 5.938rem;
    transition: 200ms ease-in-out;
    height: 100%;
    display: flex;
    align-items: center;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.menu .menu__item:nth-of-type(4) {
  margin-right: 0;
}

.menu .menu__item:hover {
  color: var(--color-black);
  border-bottom: 4px solid var(--primary-color);
}

.hero {
  margin-top: 8.125rem;
}

.hero__text {
  text-align: center;
}

.hero__image-item {
  width: 100%;
}


.hero .hero__inner {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
}


.hero .hero__hdl {
  font-family: Raleway, Regular;
  font-size: 49px;
  font-weight: 400;

}

.hero .hero__lead {
  font-family: Open Sans, Regular;
  font-size: 1rem;
}

.hero .hero__btn.btn.btn-large {
  background-color: var(--primary-color);
  border-radius: 2.5rem;
  min-width: 27.5rem;
  min-height: 2.9375rem;
  font-family:  Open Sans, Bold
}


.info {
display: flex;
flex-direction: row;
}

.info .container__info {
display: flex;
flex-direction: column;
}

.info .info__hdl {
margin-top: 1.375rem;
margin-bottom: 6.3125rem;
margin-inline: auto;
text-align: center;
font-family: var(--font-Raleway);
font-weight: 400;
font-size: 2.25rem;
color: var(--color-black);
}

.info .info__item {
display: flex;
align-items: center;
flex-direction: column;
}

.info .info__box {
display: flex;
align-self: self-end;
}

.info .info__wheel {
width: 3.919375rem;
height: 3.919375rem;
border-radius: 50%;
}
.info .info__wheel.info__wheel-1 {
background-color: var(--color-redish);
}
.info .info__wheel.info__wheel-2 {
background-color: var(--color-primary);
}
.info .info__wheel.info__wheel-3 {
background-color: var(--color-green);
}

.benefits {
padding: 100px 0;
background-color: var(--color-light-grey);
text-align: center;
}

.benefits__container {
padding: 0 100px;
}

.benefits__single {
background-color: var(--color-white);
border: 1px solid #E8E9ED;
display: flex;
justify-content: space-between;
align-items: flex-end;
margin-bottom: 37px;
border-radius: 5px;
}

.benefits__text {
max-width: 415px;
margin: 90px 36px;
}

.benefits__text::after {
content: "";
width: 332px;
height: 4px;
background-color: var(--accent-color);
display: block;
margin-top: 50px;
}

.benefits__description {
margin-top: 30px;
line-height: 1.375rem;
}

.benefits__image {
position: relative;
}

.benefits__image img {
position: relative;
z-index: 2;
}

.benefits__single--notebook {
--accent-color: var(--color-redish);
}

.benefits__single--notebook .benefits__image {
margin-right: 117px;
margin-bottom: 38px;
}

.benefits__single--notebook .benefits__image::before {
content: "";
width: 180px;
height: 180px;
background-color: var(--accent-color);
display: block;
border-radius: 40px;
position: absolute;
right: 0;
top: -40px;
transform: rotate(45deg);
}

.benefits__single--notebook .benefits__image img {
width: 386px;
height: auto;
}

* {
box-sizing: border-box;
}
